# Altium Designer standard ignores
History/
__Previews/
Project\ Logs*/
Project\ Outputs*/
GeneratedOutput/

# Misc files
debug.log
Status\ Report.txt
*.PcbDoc.htm
*.SchDocPreview
*.PcbDocPreview
*.Annotation
*.PrjPcbStructure

# Lock files
.~lock.*

# Local user preferences and desktop layouts
*.TLT
*.DXPPrf
*.Desktop
*.Workspace
